<h3>Testimony List</h3>
<br>
<table class="table table-striped table-hover ">
  <thead>
  <tr>
    <th>Prayer Request ID</th>
    <th>Testimony</th>
    <th>Post Prayer Pain Level</th>
    <th>Prayer Servant</th>
    <th>When?</th>
  </tr>
  </thead>
  <tbody>
  <% @testimonies.each do |t| %>
  <tr>
    <td><%=	 link_to '#{t.prayer_request_id}', prayer_request_path(t.prayer_request.id) %></td>
    <td><%= t.testimony %></td>
    <td><%=	 t.post_pain_level %></td>
    <td><%= t.prayer_servant %></td>
    <td><%= t.created_at %></td>
  </tr>
  <% end %>
  </tbody>
  </table>